backoff==1.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
Deprecated==1.2.13
Flask==2.0.3
googleapis-common-protos==1.56.0
grpcio==1.45.0
idna==3.3
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.1
opentelemetry-api==1.10.0
opentelemetry-distro==0.29b0
opentelemetry-exporter-jaeger==1.10.0
opentelemetry-exporter-jaeger-proto-grpc==1.10.0
opentelemetry-exporter-jaeger-thrift==1.10.0
opentelemetry-exporter-otlp==1.10.0
opentelemetry-exporter-otlp-proto-grpc==1.10.0
opentelemetry-exporter-otlp-proto-http==1.10.0
opentelemetry-instrumentation==0.29b0
opentelemetry-instrumentation-aws-lambda==0.29b0
opentelemetry-instrumentation-dbapi==0.29b0
opentelemetry-instrumentation-flask==0.29b0
opentelemetry-instrumentation-jinja2==0.29b0
opentelemetry-instrumentation-logging==0.29b0
opentelemetry-instrumentation-requests==0.29b0
opentelemetry-instrumentation-sqlite3==0.29b0
opentelemetry-instrumentation-urllib==0.29b0
opentelemetry-instrumentation-urllib3==0.29b0
opentelemetry-instrumentation-wsgi==0.29b0
opentelemetry-propagator-aws-xray==1.0.1
opentelemetry-propagator-jaeger==1.10.0
opentelemetry-proto==1.10.0
opentelemetry-sdk==1.10.0
opentelemetry-semantic-conventions==0.29b0
opentelemetry-util-http==0.29b0
protobuf==3.19.4
requests==2.27.1
six==1.16.0
thrift==0.15.0
typing_extensions==4.1.1
urllib3==1.26.9
Werkzeug==2.0.3
wrapt==1.14.0
